<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="decription" content="Talk 2 Control">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.5/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.5/addons/p5.dom.js"></script>

    <title>Talk 2 Control</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Ranchers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans:600" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <style media="screen">
    #btn-1 {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    #btn-1:hover {
      background-color: #2e7030;
    }
    </style>
  </head>
  <body>
    <div id="header">
          <div id="imageHead">
            <img src="/static/t2c.png" width="35%" height="35%"/>
          </div>
          <div id="desc">
            <span class="subFont"><i>Control your screen with voice recognition and filters for seamless presentations and smooth navigation.</i></span>
          </div>
          <h3 class="titleFont">Command to Keyword</h3>
          <div id="recorder">
            <p class="subFont">Record Keyword Command</p>
            <button id="btn-1">Record</button>
          </div>
      </div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script> -->

    <!-- <script type="text/javascript"></script> -->

    <script src="/static/js/p5.speech.js"></script>
    <script type="text/javascript">


    </script>
    <script src="/static/js/main.js"></script>

  </body>
</html>
