<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="decription" content="Talk 2 Control">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.5/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.5/addons/p5.dom.js"></script>

    <title>Talk 2 Control</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Ranchers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans:600" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <div id="header">
          <div id="imageHead">
            <img src="/static/t2c.png"/>
          </div>
          <div id="desc">
            <span class="subFont">Control your screen with voice recognition and filters for seamless presentations and smooth navigation.</span>
          </div>
          <h3 class="titleFont">Command to Keyword</h3>
          <div id="recorder">
            <p>Record Keyword Command</p>
            <button id="btn-1">Record</button>
            <textarea class="text-area"></textarea>
          </div>
      </div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script> -->

    <!-- <script type="text/javascript"></script> -->

    <script src="/static/js/p5.speech.js"></script>
    <script type="text/javascript">


    </script>
    <script src="/static/js/main.js"></script>

  </body>
</html>
